__pycache__/
*.pyc
.DS_Store
mobile/scripts/config/FirebaseConfig.gd
mobile/scripts/config/RevenueCatConfig.gd
mobile/addons/
backend/.env
mobile/.godot
mobile/test_data
mobile/ios/
mobile/android/

# Godot web export output (see Makefile)
mobile/build/

#unrelated development tools
google-cloud-sdk/